.products .card img{
    /* border: 1px solid black; */
    padding: 15px;
    height: 220px;
    margin: 5px auto;
}

/* .products .card{
    /* border: 1px solid black; */
    /* margin: 20px;
    padding: 15px;
    text-align: center; */
/* } */ 